<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.vakashatravelapp">
    <uses-permission android:name="android.permission.CAMERA"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.VakashaTravelApp">
        <activity
            android:name=".NewTripSnapsActivity"
            android:exported="false" />
        <activity
            android:name=".AddTripToCollection"
            android:exported="false" />
        <activity
            android:name=".ViewSingleCollection"
            android:exported="false" />
        <activity
            android:name=".DrawerBaseActivity"
            android:exported="false" />
        <activity
            android:name=".DashboardActivity"
            android:exported="true" />
        <activity
            android:name=".CreateCollectionActivity"
            android:exported="false" />
        <activity
            android:name=".ViewCollectionsActivity"
            android:exported="false" />
        <activity
            android:name=".TripHistoryActivity"
            android:exported="false" />
        <activity
            android:name=".NewTripActivity"
            android:exported="false" />
        <activity
            android:name=".TripDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".HomePageActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>